:root {
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #ffff;

  /* COLOR PALETTE */
  --chocolate: #271916;
  --eggplantD: #2D2436;
  --eggplantL: #312D50;
  --periwinkle: #4351B8;
  --ocean: #1c2a63f5;
  --grass: #1A3018;
  --sky: #617E92;
  --blush: #E8B2B5;
  --mauve: #916B7B;
  --slate: #ffffffeb;
  --gray: #302F2F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--chocolate);
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: .015;
  z-index: 1500;
  pointer-events: none;
  background: url(../src/assets/noise.gif);
}
h1, h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-title {
  color: var(--slate);
  text-align: left;
  font-family: trade-gothic-next, sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.55rem;
  position: absolute;
  bottom: 1%;
  min-width: 90vw;
}
.horizontal {
  border-top: 0.85px solid var(--slate);
}

