:root {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.15px;
  color: #ffff;
  scroll-behavior: smooth;


  /* COLOR PALETTE */
  --chocolate: #271916;
  --eggplantD: #2D2436;
  --eggplantL: #312D50;
  --periwinkle: #4351B8;
  --ocean: #1c2a63f5;
  --grass: #1A3018;
  --sky: #617E92;
  --blush: #E8B2B5;
  --petal: #febdc8a6;
  --slate: #ffffffeb;
  --gray: #302F2F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--chocolate);
  font-size: 16px;
  /* padding-top: 10vh; */
  /* HIDE SCROLLBAR */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
body::before {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: '';
  opacity: .015;
  z-index: 1500;
  pointer-events: none;
  background: url(../src/assets/noise.gif);
}
h1, h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: var(--slate);
  text-transform: uppercase;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0 1% 0 5%;
  border-right: 0.55px solid var(--slate);
}

